<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Casino</title>
  </head>

  <body>
    <h1>Welcome big baller</h1>
    <p>To see your casino's winnigs or losses login below</p>
    <a href="/login">Login</a>
  </body>

</html>