
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title></title>
  </head>
  <body>

      <section>
        <label for="colorPicker">Pick a Color: </label>
        <select name="" id="colorPicker">
          <option value="red">Red</option>
          <option value="black">Black</option>
        </select>
      </section>

      <section>
        <label for="betAmount">Bet Amount: </label>
        <input id="betAmount" type="number" min="0" name="amount">
      </section>

      <button id="playButton" name="button">Play</button>

    <h2 id="result"></h2>


    <section>
      <form class="" action="/path" method="get">
        <input type="submit" name="" value="Casino Owner">
      </form>
    </section>
    <script type="text/javascript" src="main.js">

    </script>
  </body>
</html>
