<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <div class="col-sm-6">
            <h3>Owner Access</h3>
            <ul class="messages">
            <% for(var i=0; i<casino.length; i++) {%>
              <li class="message">

                <p>Win: <%= casino[i].won %></p>
                <p>Loss: <%= casino[i].loss %></p>
                <p>Casino Money: <%=casino[i].casinoMoney %></p>
              </li>
            <% } %>
            </ul>
            <section>
              <a href="/logout">Logout</a>
            </section>
  </body>
</html>
